
<div class="row">
  <div class="col-md-8">
    <h4>宿題リスト</h4>
    <h4>クリア済み課題</h4>
    <h4>お気に入りのジム</h4>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <div class="media">
        <div class="media-left">
          <div class="media-object">
            <%= image_tag @user.avatar, style: "height:64px; width:64px" %>
          </div>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= "#{@user.family_name}#{@user.first_name}" %></h4>
          <p><%= link_to "登録情報を更新", edit_user_registration_path(@user.id), class: "btn btn-default"%></p>
        </div>
      </div>
    </div>
  </div>

</div>
